
        

/**umb_name:Brødtekst*/
p {
	font-size:16px;
}

/**umb_name:H2 overskrift*/
h2 {
	font-size:20px;
	font-weight:Bold;
}

/**umb_name:H3 overskrift*/
h3 {
	font-size:18px;
	font-weight:bold;
}
