@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MASTER.cshtml";
}
<div>
    @Html.Action("Index", "ContactFormSurface")
</div>